.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
}
.container-flex {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.left-content, .right-content {
  position: relative;
  background-color: #f8f9fa;
  padding: 40px;
  flex: 1;
  display: flex;
  justify-content: center; /* Centers the text vertically */
  align-items: center; /* Centers the text horizontally */
  text-align: center; /* Centers the text content */
  height: 100%; /* Takes up full height */
  overflow: hidden;/* Ensures both sides fill the entire height */
}

.left-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./image_lotus.png'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center;
  opacity: 0.5; /* Adjust transparency */
  z-index: 1; /* Ensures image is behind text */
}

.left-content {
  background-color: #f8f9fa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .container-flex {
    flex-direction: column-reverse; /* Stack vertically */
    height: auto; /* Remove fixed height */
  }

  .left-content, .right-content {
    width: 100%; /* Full width on small screens */
    height: auto; /* Adjust height for content */
  }

  .right-content {
    margin-top: 20px; /* Add spacing between sections */
  }
}