.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
}

.container-flex {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.left-content, .right-content {
  position: relative;
  background-color: #f8f9fa;
  padding: 40px;
  flex: 1;
  display: flex;
  justify-content: center; /* Centers the text vertically */
  align-items: center; /* Centers the text horizontally */
  text-align: center; /* Centers the text content */
  height: 100%; /* Takes up full height */
  overflow: hidden;/* Ensures both sides fill the entire height */
}

.left-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./image_lotus.png'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center;
  opacity: 0.5; /* Adjust transparency */
  z-index: 1; /* Ensures image is behind text */
}

.left-content {
  background-color: #f8f9fa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .container-flex {
    flex-direction: column-reverse; /* Stack vertically */
    height: auto; /* Remove fixed height */
  }

  .left-content, .right-content {
    width: 100%; /* Full width on small screens */
    height: auto; /* Adjust height for content */
  }

  .right-content {
    margin-top: 20px; /* Add spacing between sections */
  }
}

.chat-header {
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chat-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%; /* Makes the logo rounded */
  object-fit: cover;  /* Ensures the logo fits within the rounded shape */
}

.user-section {
  position: relative;
}

.user-name {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logout-button {
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.home-content {
  display: flex;
  flex: 1; /* Take up available space */
  overflow: hidden;
}
/* Home Container takes full height of the screen */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

/* Main content area with users list and chat */
.home-content {
  display: flex;
  flex: 1; /* Fills the remaining space below the header */
  overflow: hidden; /* Prevent overflow */
}
/* User list container */
.users-list-container {
  background-color: #f9f9f9;
  transition: width 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

/* Expanded state */
.users-list-container.expanded {
  width: 300px;
  padding: 15px;
}

/* Collapsed state */
.users-list-container.collapsed {
  width: 50px;
  padding: 15px 15px 15px 15px;
}


/* Vertical line separator */
.separator {
  width: 1px;
  margin-left: 15px;
  background-color: #ccc;
  position: relative; /* Keep position for toggle button alignment */
}

/* Toggle button styling */
.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #333;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: background-color 0.2s ease;
}

.toggle-button:hover {
  background-color: #b1b1b1;
}

/* User list content - visible only when expanded */
.user-list-content {
  display: flex;
  flex-direction: column;
}

/* Search input box */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Users container */
.users {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: calc(100vh - 120px); /* Adjust max height for list */
}

/* User item */
.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Avatar styling */
.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 15px;
  font-weight: bold;
}

/* User name styling */
.user-name {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

/* Hover effect */
.user-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Active user styling */
.user-item.active {
  background-color: #b5b9bc; /* Highlight color for the selected user */
  color: #fff;
}

.user-item.active .user-avatar {
  background-color: #ccc;
}

/* Chat section where messages are shown and input box is located */
.chat-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 80% width for the chat section */
  height: 100%; /* Full height of the available space */
  justify-content: space-between; /* Keep input box at the bottom */
  padding: 10px;
}

/* Chat window styling */
.chat-window {
  width: 100%;
  height: 80vh;
  padding: 20px;
  overflow-y: auto; /* Allows chat messages to scroll independently */
  display: flex;
  flex-direction: column;
}/* Chat window overall style */


/* Sent message container */
.message-sent-container {
  display: flex;
  justify-content: flex-end; /* Align messages to the right */
  margin-bottom: 15px;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex-direction: row-reverse; /* Place avatar on the right side */
}

/* Received message container */
.message-received-container {
  display: flex;
  justify-content: flex-start; /* Align messages to the left */
  margin-bottom: 15px;
  width: 100%;
  align-items: flex-start;
}

/* Avatar styling */
.message-avatar {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Adjust margins for avatars */
.message-sent-container .message-avatar {
  margin-left: 10px; /* Avatar on the right side for sent messages */
  margin-right: 0;
}

.message-received-container .message-avatar {
  margin-right: 10px; /* Avatar on the left side for received messages */
  margin-left: 0;
}

/* Message bubble styling */
.message-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

/* Sent message bubble */
.sent-message {
  background-color: #d3d3d3;
  text-align: right;
  align-self: flex-end;
  margin-left: auto; /* Align bubble to the right side */
}

/* Received message bubble */
.received-message {
  background-color: #333;
  color: #fff;
  text-align: left;
  align-self: flex-start;
  margin-right: auto; /* Align bubble to the left side */
}

/* Timestamp styling */
.timestamp {
  font-size: 0.75rem;
  margin-top: 5px;
  display: block;
  text-align: right;
  color: #888;
}


/* Message input area styling */
.message-input-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f8;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: hidden;
  resize: none;
  overflow-y: auto;
  min-height: 40px;
  max-height: 250px;
  line-height: 1.5;
  margin-right: 10px;
  outline: none;
  box-shadow: none;
  transition: height 0.2s ease;
}


.send-button {
  background-color: #333;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Log out dropdown */
/* User section with dropdown */
.user-section {
  position: relative;
}

/* User box inside the header */
.user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.user-box.active {
  border-color: grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow when clicked */
}

.user-box span {
  font-size: 1rem;
  color: #333;
}

/* Arrow styling with animation */
.arrow {
  margin-left: 10px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.rotate-down {
  transform: rotate(0deg);
}

.rotate-up {
  transform: rotate(180deg); /* Arrow rotates up */
}

/* Dropdown for Sign Out */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
  z-index: 1;
}

/* Sign out button centered inside the dropdown */
.signout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  border: none;
  color: #ff4d4d;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.signout-button:hover {
  background-color: #f5f5f5;
}

